
{% load static %}

<!--    <div class="footer fixed-bottom  my_foot ">-->
<!--    <p class="text-center footer ">&copy;Spring Shops tech pvt ltd. All right Reserved</p>-->
<!--</div>-->
<!--<html xmlns="http://www.w3.org/1999/html">-->

<!--  <style='{height:100%;-->
<!--      box-sizing:border-box;-->
<!--}-->
<!--body{min-height:100%;-->
<!--display:flex;-->
<!--flex-direction:column;-->
<!--}-->
<!--footer{margin-top:auto;-->
<!--background-color:black}'>-->
<!--</style>-->
<footer>
    <p style="{height:100%;
      box-sizing:border-box;
      min-height:100%;
      display:flex;
      flex-direction:column;
      margin-top:auto;
      background-color:black}">footer</p>
</footer>
<!--</html>-->
